{% extends "LikipeFrontendBundle::layout.html.twig" %}
{% block title %}{% trans %}Login{% endtrans %}{% endblock %}
{% block fos_user_content %}
    <H3 class="title-login">{% trans %}Logga in / registrera{% endtrans %}</H3>
    <div class="login-form">

        <div class="row-fluid">
            <div class="span5 login">
                <form class="form-horizontal custom-form" action="{{ path("fos_user_security_check") }}" method="post">
                    {% if error %}
                    <div class="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{% trans %}Warning!{% endtrans %}</strong> {{ error|trans({}, 'FOSUserBundle') }}
                    </div>
                    {% endif %}
                    <div class="row-fluid log-name">
                        <span class="help-inline span4">{% trans %}Email{% endtrans %}</span>
                        <div class="span8">
                            <input type="text" id="username" name="_username" value="{{ last_username }}" />
                        </div>
                    </div>
                    <div class="row-fluid log-pass">
                        <span class="help-inline span4">{% trans %}Lösenord{% endtrans %}</span>
                        <div class="span8">
                            <input type="password" id="password" name="_password" />
                        </div>
                    </div>
                    <div class="row-fluid">
                        <label class="checkbox inline span8 offset3 remember">
                            <input type="checkbox" id="remember_me" name="_remember_me" /> {% trans %}Kom ihåg mig{% endtrans %}
                        </label>
                    </div>
                    <div class="row-fluid">
                        <input class=" btn btn-info pull-right" type="submit" id="_submit" name="_submit" class="btn btn-warning" value="{{ 'Logga in'|trans({}, 'FOSUserBundle') }}" />
                    </div>
                </form>
                <a href="{{ path("fos_user_resetting_request") }}" class="forgot-pass">{% trans %}Glömt lösenord / användarnamn?{% endtrans %}</a>

            </div>
        </div>
    </div>

{% endblock fos_user_content %}
