{% extends "LikipeBackendBundle::layout.html.twig" %}
{% block title "Default" %}
{% block content %}
<div class="container">
{% for flashMessage in app.session.flashbag.get('post_does_not_exist') %}
	<div class="alert alert-info">
		<button title="Close" class="close" data-dismiss="alert" type="button">×</button>
	{{ flashMessage }}
	</div>

	<div class="row-fluid blog">		
		<div class="btn-submit-post" style="padding-top: 20px; padding-bottom: 50px;">	
			<a class="btn btn-success" href="{{ path('LikipeBackendBundle_Post_add') }}"><i class="icon-plus"></i>{% trans %}Create post{% endtrans %}</a>
		</div>
	</div>
{% endfor %}
		
{% for flashMessage in app.session.flashbag.get('blog_does_not_exist') %}
	<div class="alert alert-info">
		<button title="Close" class="close" data-dismiss="alert" type="button">×</button>
	{{ flashMessage }}
	</div>

	<div class="row-fluid blog">		
		<div class="btn-submit-post" style="padding-top: 20px; padding-bottom: 50px;">	
			<a class="btn btn-success" href="{{ path('LikipeBackendBundle_Blog_add') }}"><i class="icon-plus"></i>{% trans %}Create blog{% endtrans %}</a>
		</div>
	</div>
{% endfor %}
		
{% for flashMessage in app.session.flashbag.get('user_does_not_exist') %}
	<div class="alert alert-info">
		<button title="Close" class="close" data-dismiss="alert" type="button">×</button>
	{{ flashMessage }}
	</div>

	<div class="row-fluid blog">		
		<div class="btn-submit-post" style="padding-top: 20px; padding-bottom: 50px;">	
			<a class="btn btn-success" href="{{ path('LikipeBackendBundle_User_add') }}"><i class="icon-plus"></i>{% trans %}Create user{% endtrans %}</a>
		</div>
	</div>
{% endfor %}
		
{% for flashMessage in app.session.flashbag.get('comment_does_not_exist') %}
	<div class="alert alert-info">
		<button title="Close" class="close" data-dismiss="alert" type="button">×</button>
	{{ flashMessage }}
	</div>

	<div class="row-fluid blog">		
		<div class="btn-submit-post" style="padding-top: 20px; padding-bottom: 50px;">	
			<a class="btn btn-success" href="{{ path('LikipeBackendBundle_Post_index') }}"><i class="icon-hand-left"></i>{% trans %}Back to post{% endtrans %}</a>
		</div>
	</div>
{% endfor %}		
</div> <!-- /container -->
{% endblock %}