<header>
	<div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
		<div class="navbar-inner">
			<div class="container">
				<button class="navbar-toggle" data-target=".bs-navbar-collapse" data-toggle="collapse" type="button">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand title" href="{{ path('LikipeBackendBundle_index') }}">Symfony training with MongoDB</a>
				<div class="nav-collapse collapse bs-navbar-collapse">
					{% block navigation %}
					<ul class="nav navbar-nav">
						<li class="active"><a href="{{ path('LikipeBackendBundle_index') }}">Home</a></li>
						<li><a href="{{ path('LikipeBackendBundle_Post_index') }}">Post</a></li>
						{% if is_granted('ROLE_ADMIN') %}
							<li><a href="{{ path('LikipeBackendBundle_Blog_index') }}">Blog</a></li>
							<li><a href="{{ path('LikipeBackendBundle_User_index') }}">User management</a></li>
							<li><a href="{{ path('LikipeProductBundle_Product_index') }}">Product</a></li>
						{% endif %}
					</ul>
					{% endblock %}
					<div class="logout pull-right">
						{% if app.user.id is defined %}
							<a href="#" class="lastname pull-left btn btn-success"><i class="icon-user"></i>{{ app.user.lastname }}</a>
							
						{% endif %}
						<a class="pull-right btn btn-primary" href="{{ path('LikipeBackendBundle_Security_logout') }}"><i class="icon-signout"></i>Logout</a>
					</div>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
</header>
